#Nanoxplore project
Project
logs

#output for timed simulation
Sim

#nextpnr outputs
nextpnr_nx_example/bitstream.json
nextpnr_nx_example/netlist.json

#vtr outputs
vtr_example/multiclock_post_synthesis.blif
vtr_example/multiclock_post_synthesis.sdf
vtr_example/multiclock_post_synthesis.v
vtr_example/multiclock.net
vtr_example/multiclock.net.post_routing
vtr_example/multiclock.place
vtr_example/multiclock.route
vtr_example/packing_pin_util.rpt
vtr_example/pre_pack.report_timing.setup.rpt
vtr_example/report_timing.hold.rpt
vtr_example/report_timing.setup.rpt
vtr_example/report_unconstrained_timing.hold.rpt
vtr_example/report_unconstrained_timing.setup.rpt
vtr_example/vpr_stdout.log
