
# example.pcf
#set_io --warn-no-port D B5
#set_io --warn-no-port Q B4


LOCATE COMP "clk" SITE "B17";
LOCATE COMP "async_reset" SITE "A7";

IOBUF PORT "clk" IO_TYPE=LVCMOS33;
IOBUF PORT "async_reset" IO_TYPE=LVCMOS33;